<html>
  <head>
    <title>Data Sharing between components</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  </head>
  <body>
    <!-- <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div> -->
    
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Data Sharing in component</h1>
        
      </div>
      <p>We have created two components one is parent and other is child component. When user will enter a message in parent component text box and click on a button to send that message to child component then the same message will be display in child component and when user will enter message in child component text box then on clicking on a button the message is pass to parent component and message is started to display.</p> 
        
      <app-parent></app-parent>
      <button (click)="backClicked()" *ngIf="this.isBackAvailable()"> << Go Back</button>
    </div>
    
  </body>
</html>